html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

*:not(.fa-solid):not(.e-icons){
    font-family: "Roboto", sans-serif;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

.e-bigger {
    font-size: x-large;
}
/* Navbar */
.navbar {
    background-color: rgba(18,22,29);
}

.navbar i{
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar i:hover, .navbar img:hover {
    cursor: pointer;
    background-color: #48545f14;
    transform: scale(1.05) translateZ(0px);
}

/* profile pic */
.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Breadcrumb */
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.main-content {
    margin-left: 290px;
}

/* delete modal */
#deleteConfirmModal .modal-content {
    background-color: #1a222b; 
    color: #fff; 
    border: 1px solid #333; 
}

#deleteConfirmModal .modal-header {
    background-color: #222b33; 
    color: #fff; 
    border-bottom-color: #333; 
}

#deleteConfirmModal .modal-title {
    color: #fff;
}

#deleteConfirmModal .btn-close {
    filter: invert(1); /* Đảo ngược màu để chuyển từ đen sang trắng */
}


#deleteConfirmModal .modal-footer {
    border-top-color: #333;
}

/* Button */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.no-a-decoration, no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/* Grid */
.e-grid {
    border: 0;
    border-radius: 5px;
}

.e-grid .e-gridcontent, .e-grid .e-table {
    background-color: #1a222b;
    border-radius: 0 0 5px 5px;
}

.e-grid .e-gridheader {
    border: 5px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #222b33;
}
.e-grid .e-gridheader .e-headercell{
    font-weight: bold;
    background-color: #222b33;
}

/* Paging */
.e-grid .e-gridpager {
    background-color: #222b33;
    color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    border-top: none;
}

.e-grid .e-gridpager .e-pagercontent,
.e-grid .e-gridpager .e-numericitem,
.e-grid .e-gridpager .e-pagercommon, 
.e-grid .e-gridpager .e-icons {
    color: #fff;
}

.e-grid .e-gridpager .e-currentitem {
    color: #fff; 
    background-color: #333d48; 
    font-weight: bold;
    padding: 0 8px; 
    border-radius: 3px; 
}

.e-grid .e-gridpager .e-numericitem:not(.e-currentitem):hover {
    background-color: #333d48; 
    cursor: pointer;
}

.e-grid .e-gridpager .e-disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}

.e-grid .e-gridcontent {
    overflow-y: auto;
    overflow-x: auto;
    background-color: #1a222b;
    border-radius: 0 0 5px 5px;
    /* Dành cho Firefox */
    scrollbar-width: none;
    /* Dành cho Internet Explorer và Edge cũ */
    -ms-overflow-style: none;
}

.e-grid .e-gridcontent::-webkit-scrollbar {
    width: 0;  
    height: 0; 
    display: none;
}

.radio-button-toggle-group .radio-button-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-button-toggle-group label.btn:first-of-type{
    border-radius: 5px 0 0 5px;
    border-right: none !important;
}

.radio-button-toggle-group input.radio-button-input:checked + label.btn:first-of-type {
    color: #000000;
    font-weight: bold;
    background-color: #fade34; 
    border-color: #fade34;
}

.radio-button-toggle-group label.btn:last-child {
   border-radius: 0 5px 5px 0;
    border-left: none !important;
}

.radio-button-toggle-group input.radio-button-input:checked + label.btn:last-of-type {
    color: #fff;
    font-weight: bold;
    background-color: #198754;
    border-color: #198754;
}
/* Sidebar */
#sidebar {
    background-color: #1a222b;
    border-right: 1px dashed rgba(75, 82, 85, 0.24);
    padding: 10px 20px;
}

.widget {
    border-radius: 1rem;
    background-color: #222b33;
}

.widget.summary > div:first-child {
    background-color: #1a222b;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
}

.widget.summary > div:last-child i {
    font-weight: bold;
}

.widget.income > div:first-child i {
    color: #198754;
}

.widget.expense > div:first-child {
    color: #fdcd27;
}

.widget.balance > div:first-child {
    color: #2aa1ff;
}

.widget .chart {
    padding: 5px;
}
